.PhoneCard .card-body {
      margin-top: 5px;
      padding: 10px;
}

.PhoneCard .card {
      height: 350px;
      margin: 5px;
      width: 12rem;
}

.PhoneCard .card .carousel-item img {
      width: 100%;
      height: 170px;
      border-radius: 10px;
}

.PhoneCard .card .modal-body img {
      width: 100%;
}

.PhoneCard .card-body .addToCartBtn {
      position: absolute;
      bottom: 0;
      margin: 10px;
      left: 15%;
}

.PhoneCard .card .carousel-item img:hover {
      padding: 10px;
}

.PhoneCard .carousel-control-prev,
.PhoneCard .carousel-control-next {
      background-color: black;
      height: fit-content;
      width: auto;
      margin: auto;
}


.PhoneCard .stockToOrder {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

.PhoneCard .stock {
      font-size: xx-large;
}

.PhoneCard .modelPhoneName {
      text-decoration: underline;
}