.PhoneCard {
      display: inline-block;
}

.PhoneCard .card {
      width: 18rem;
      margin: 5px;
}

.PhoneCard .card img {
      height: 250px;
      width: 100%;
}

.PhoneCard .card .carousel-item img:hover {
      padding: 10px;
}

.PhoneCard .carousel-control-prev,
.PhoneCard .carousel-control-next {
      background-color: black;
      height: fit-content;
      width: auto;
      margin: auto;
}

.PhoneCard .row>* {
      margin-top: 15px;
}

.PhoneCard .stockToOrder {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

.PhoneCard .stock {
      font-size: xx-large;
}

.PhoneCard .phoneName {
      text-decoration: underline;
}