.Layout {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: min-content auto min-content;
	height: 100%;
}

.Layout .offcanvas {
	width: 22rem;
}

.Layout header,
.Layout footer {
	grid-column: span 6;
}

.Layout main {
	grid-column: span 6;
	height: 100%;
	margin: 5px;
}

.Layout .avatar {
	color: white;
}

@media only screen and (max-width: 992px) {
	.Layout .d-flex .AuthMenu {
		display: none;
	}

	.Layout .avatar {
		margin: auto;
		margin-top: -2.5rem;
	}
}

@media only screen and (min-width: 992px) {
	.Layout .avatar {
		display: none;
	}

	.Layout .dropdown-menu .AuthMenu {
		display: contents;
		padding: 10px;
		margin: 20px;
	}



}

.Layout .auth-dropdown {
	padding: 20px;

}